body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard{

  background-color:maroon;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-div{
  background-color: orange;
  display:flex;
  flex-direction: column;
   align-items: center;
   border: 4px solid white;
   color:white;
   width:80%;
   margin:15px;

}

.image{
  
  border: 4px solid white;
  border-radius: 5px;
  width:70%;
  height:60%;
}

.place-name{


  color:white;
  font-size: xx-large;
   border-radius: 10px;
  margin:20px;
}

.add-form{

  display:flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  
 
}
.add-form input {
  margin: 5px;
}

.top{
  display: flex;
  flex-direction: column;
  border: 4px solid whitesmoke;
}

.review-form{
  background-color: darkorange;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width:75%

}

.rating-top{
  padding:20px;
  margin:10px;
  display:flex;
 
}