body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard{

  background-color:maroon;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-div{
  background-color: orange;
  display:flex;
  flex-direction: column;
   align-items: center;
   border: 4px solid white;
   color:white;
   width:80%;
   margin:15px;

}

.image{
  
  border: 4px solid white;
  border-radius: 5px;
  width:70%;
  height:60%;
}

.place-name{


  color:white;
  font-size: xx-large;
   border-radius: 10px;
  margin:20px;
}

.add-form{

  display:flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  
 
}
.add-form input {
  margin: 5px;
}

.top{
  display: flex;
  flex-direction: column;
  border: 4px solid whitesmoke;
}



.Review{
  display: flex;
  flex-direction: column;
}
.review-form{
  background-color: darkorange;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
 
}

.rating-top{
  padding:20px;
  margin:10px;
  
}

.item-div{
  background-color: orange;
  display:flex;
  flex-direction: column;
  align-content: center;

  align-items: center;
   
   border: 4px solid white;
   color:white;
   width:100%;
   margin:15px;

}

.p-div{
  background-color:white;
   flex-direction: column;
    border: 4px solid orangered;
   border-radius:5px;
   color:black;
}
 
 
.review-p{
  display:flex;
  align-content: center;
  align-items: center;
  
}
.review-p img{
  border: 3px darkorange;
  display:flex;
  width:100%;
}
.review-p p{
  margin: 5px;
  padding:25px;

}
.edit-item-form{

display:flex;
flex-direction: column;

}
.Review{
  background-color: orangered;
  color:whitesmoke;
}
.review-name{
  border: 3px solid white;
}